body{
    background-image: url(descargar\ \(4\).jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
img{
width: 330px;
height: 300px;
border-radius: 70px;
}
img:hover{
    position:absolute; 
width: 400px;
height: 350px;
border-radius: 0px;
}
div{
width: 1000px;
height: 600px;
background:radial-gradient(red , orange);
display: inline-block;
margin:auto;
border-radius: 50px;
}
.a{
    font-family: Old English Text MT;
    text-align: center;
    font-size: 50px;
}
fieldset{
    width: 700px;
    height: 750px;
    margin: auto;
}